body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  display: flex;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  background: black;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -2px 0px 6px 10px rgba(0,0,0,0.13); 
  box-shadow: 0px 10px 13px -7px #000000, -2px 0px 6px 10px rgba(0,0,0,0.13);
}

#expression {
  width: 400px;
  height: 100px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  padding: 0;
  background-color: lightgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -2px 0px 6px 10px rgba(0,0,0,0.13); 
  box-shadow: 0px 10px 13px -7px #000000, -2px 0px 6px 10px rgba(0,0,0,0.13);
}

#numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
  color: white;
}


.button,
.operator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background: orange;
  border: 2px solid black;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -2px 0px 6px 10px rgba(0,0,0,0.13); 
  box-shadow: 0px 10px 13px -7px #000000, -2px 0px 6px 10px rgba(0,0,0,0.13);
}

#operators {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
