body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

#expression {
  width: 400px;
  height: 100px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}


.button,
.operator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid black;
}

#operators {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
